.circle {
  margin-right: 5%;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.damaged {
  color: purple;
}

.rowState {
  display: flex;
  justify-content: center;
  align-items: center;
}