.acceptButton {
  margin-right: 3%;
  padding: 3%;
}

.userRole {
  color: #AAAAAA;
  font-size: small;
  margin-bottom: 20%;
  margin-top: -20%;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}