.acceptButton {
  margin-right: 3%;
  padding: 3%;
}

.userRole {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}
